.main {
		position: relative;
}
.main-banner {
		background-image: url("../assets/images/main-banner.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 100vh;
		min-height: 92vh;
		display: flex;
		justify-content: center;
		align-items: center;
}
.main-action-box {
		max-width: 430px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: 45px;
}
.main-title {
		color: #ffffff;
		text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
		text-align: center;
}
.main-controls {
		width: 100%;
		display: flex;
		justify-content: center;
		column-gap: 30px;
}
.main-scroll-btn {
		position: absolute;
		top: 73vh;
		left: 50%;
		transform: translateX(-50%);
}
.main-info {
		margin-top: -12vh;
		background-color: #ffffff;
		border-radius: 4px;
		padding: 60px 40px;
}
.main-info__inner {
		display: flex;
		flex-wrap: wrap;
		row-gap: 50px;
		padding-bottom: 90px;
		border-bottom: 1px solid #CDCDCD;
}
.main-info__item {
		max-width: 50%;
		width: 100%;
		text-align: center;
}
.main-info__img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 300px;
		height: 300px;
		border: 1px solid #cdcdcd;
		border-radius: 100%;
		margin: 0 auto 25px;
}
.main-info__title {
		position: relative;
		max-width: 240px;
		min-height: 70px;
		margin: 0 auto 35px;
}
.main-info__title::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: -16px;
		transform: translateX(-50%);
		width: 30px;
		height: 1px;
		background-color: var(--primary-color);
}
.main-info__text {
		color: var(--secondary-text-color);
}