.main {
		position: relative;
}
.main-banner {
		background-image: url("../assets/images/main-banner.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 100vh;
		min-height: 92vh;
		display: flex;
		justify-content: center;
		align-items: center;
}
@media screen and (max-width: 765px) {
		.main-banner {
				align-items: baseline;
		}
}
.main-action-box {
		max-width: 430px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: 45px;
}
@media screen and (max-width: 765px) {
		.main-action-box {
				margin-top: 100px;
		}
}
.main-title {
		color: #ffffff;
		text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
		text-align: center;
}
.main-controls {
		width: 100%;
		display: flex;
		justify-content: center;
		column-gap: 30px;
}
@media screen and (max-width: 450px) {
		.main-controls {
				flex-direction: column;
				align-items: center;
				row-gap: 15px;
		}
}
.main-scroll-btn {
		position: absolute;
		top: 73vh;
		left: 50%;
		transform: translateX(-50%);
}
@media screen and (max-width: 765px) {
		.main-scroll-btn {
				top: 65vh;
		}
}
.main-info {
		margin-top: -12vh;
		background-color: #ffffff;
		border-radius: 4px;
		padding: 60px 40px;
}
@media screen and (max-width: 1025px) {
		.main-info {
				margin-top: -12vh !important;
				max-width: 75vw;
				width: fit-content;
				margin: 0 auto;
				padding: 20px 10px;
		}
}
@media screen and (max-width: 450px) {
		.main-info {
				margin-top: -12vh !important;
				max-width: 75vw;
				width: fit-content;
				margin: 0 auto;
				padding: 20px 0;
		}
}
.main-info__inner {
		display: flex;
		flex-wrap: wrap;
		row-gap: 50px;
		padding-bottom: 90px;
		border-bottom: 1px solid #cdcdcd;
}
.main-info__item {
		max-width: 50%;
		width: 100%;
		text-align: center;
}
@media screen and (max-width: 1025px) {
		.main-info__item {
				max-width: 100%;
		}
}
.main-info__img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 300px;
		height: 300px;
		border: 1px solid #cdcdcd;
		border-radius: 100%;
		margin: 0 auto 25px;
}
@media screen and (max-width: 450px) {
		.main-info__img {
				width: 200px;
				height: 200px;
		}
		.main-info__img img {
				max-width: 100px;
		}
}
@media screen and (max-width: 340px) {
		.main-info__img {
				width: 150px;
				height: 150px;
		}
		.main-info__img img {
				max-width: 75px;
		}
}
.main-info__title {
		position: relative;
		max-width: 240px;
		min-height: 70px;
		margin: 0 auto 35px;
}
.main-info__title::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: -16px;
		transform: translateX(-50%);
		width: 30px;
		height: 1px;
		background-color: var(--primary-color);
}
.main-info__text {
		color: var(--secondary-text-color);
}