/* The container must be positioned relative: */
.styled-select {
		position: relative;
		padding: 0;
}

.styled-select select {
		display: none;
		/*hide original SELECT element: */
		-webkit-appearance: none;
		width: 0;
		border: none;
}

.select-selected {
		max-width: 100%;
		width: 100%;
		padding: 14px 15px 15px;
		background: #ffffff;
		border: 1px solid #cdcdcd;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.07);
		border-radius: 3px;
		background: url(../assets/icons/chevron-down-solid.svg) no-repeat right;
		background-color: #fff;
		background-size: 11px;
		-webkit-appearance: none;
		background-position-x: calc(100% - 13px);
}
.select-selected.select-arrow-active {
		border: 1px solid var(--secondary-color);
		border-bottom: none;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
		color: #5a5a5a;
		cursor: pointer;
		padding: 13px 15px 13px;
		text-align: left;
}

/* Style items (options): */
.select-items {
		position: absolute;
		background-color: #ffffff;
		top: 95%;
		left: 0;
		right: 0;
		z-index: 99;
		border: 1px solid var(--secondary-color);
		border-top: none;
		border-radius: 0 0 3px 3px;
}

/* Hide the items when the select box is closed: */
.select-hide {
		display: none;
}

.select-items div:hover,
.same-as-selected {
		background-color: #f4f4f4;
}