:root {
		--primary-color: #80c242;
		--secondary-color: #93d554;
		--signing-hub-color: #2cc400;
		--warning-color: #f79618;
		--warning-hover-color: #ffb23b;
		--error-color: #f11313;
		--success-color: #da1c5c;
		--main-text-color: #5a5a5a;
		--secondary-text-color: #888888;
}