$notebook: 1350px;
$tablet: 1025px;
$phone: 765px;
$small-phone: 450px;
$smallest-phone: 340px;

.main {
    &-banner {
        background-image: url(../assets/images/faq-bg-image.jpg);
    }
    &-inner {
        background-color: #ffffff;
        padding: 32px 40px;
        margin-bottom: 20px;
        @media screen and (max-width: $small-phone) {
            padding: 20px 10px;
        }
    }
    &-contact {
        margin: 0;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        @media screen and (max-width: $tablet) {
            text-align: center;
            flex-direction: column;
            align-items: center;
        }
        &__col {
            max-width: 41%;
            width: 100%;
            @media screen and (max-width: $notebook) {
                max-width: 50%;
            }
            @media screen and (max-width: $tablet) {
                max-width: 80%;
            }
        }
        &__title {
            margin-left: 50px;
            @media screen and (max-width: $tablet) {
                width: fit-content;
                margin: 0 auto 15px;
            }
        }
        &__contacts {
            &-title {
                text-align: left;
                @media screen and (max-width: $tablet) {
                    text-align: center;
                }
            }
            &-controls {
                width: 100%;
                column-gap: 15px;
                justify-content: flex-start;
                @media screen and (max-width: $tablet) {
                    justify-content: center;
                }
                @media screen and (max-width: $phone) {
                    flex-direction: column;
                    row-gap: 15px;
                }
            }
        }
    }
    &-search {
        background-color: #f4f4f4;
        padding: 21px 0 10px;
        &__input-control {
            @media screen and (max-width: $phone) {
                flex-direction: column;
                margin-bottom: 50px;
            }
        }
        &__title {
            padding: 0 40px;
        }
        &__inner {
            padding: 0 40px;
            column-gap: 55px;
            @media screen and (max-width: $tablet) {
                flex-direction: column;
            }
            @media screen and (max-width: $small-phone) {
                padding: 0;
            }
        }
        &__form {
            max-width: 50%;
            width: 100%;
            @media screen and (max-width: $tablet) {
                max-width: 100%;
            }
            [name="search-input"] {
                border-radius: 3px 0 0 3px;
                max-width: 100%;
                width: 100%;
                @media screen and (max-width: $phone) {
                    border-radius: 3px;
                }
            }
        }
        &__btn {
            max-width: 135px;
            border-radius: 0 3px 3px 0;
            margin-left: -1px;
            @media screen and (max-width: $phone) {
                position: absolute;
                top: 100%;
                max-width: 100%;
                width: 100%;
                border-radius: 3px;
            }
        }
        &__select-control {
            column-gap: 13px;
            @media screen and (max-width: $small-phone) {
                column-gap: 0;
            }
            select {
                min-width: 200px;
            }
            label {
                position: static;
                max-width: 132px;
                width: 100%;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: var(--secondary-text-color);
                padding-top: 3px;
                @media screen and (max-width: $small-phone) {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }
}

.faq {
    &-inner {
        padding: 55px 40px;
        @media screen and (max-width: $phone) {
            padding: 30px 10px;
        }
    }
    &-title {
        margin-bottom: 35px;
    }
    &-category {
        margin-bottom: 40px;
        &__title {
            color: var(--secondary-text-color);
            padding-bottom: 15px;
            margin-bottom: 20px;
            border-bottom: 1px solid var(--primary-color);
        }
    }
    &-list {
        &__item {
            padding: 30px;
            border-bottom: 1px solid #e7e7e7;
            .faq-list__answer {
                display: none;
            }
            &.opened {
                padding-bottom: 0;
                .faq-list__question {
                    &::before {
                        content: "\f056";
                    }
                }
                .faq-list__answer {
                    display: block;
                }
            }
        }
        &__question {
            cursor: pointer;
            font-family: "Roboto", sans-serif;
            text-transform: none;
            font-size: 18px;
            line-height: 20px;
            font-weight: 500;
            color: var(--main-text-color);
            position: relative;
            margin: 0;
            &::before {
                position: absolute;
                font-family: "FontAwesome";
                content: "\f055";
                font-size: 20px;
                color: var(--primary-color);
                left: -10px;
                top: 50%;
                transform: translate(-100%, -50%);
            }
            @media screen and (max-width: $phone) {
                font-size: 14px;
                line-height: 16px;
            }
        }
        &__answer {
            padding-bottom: 45px;
            &-text {
                padding: 25px 0;
            }
        }
    }
}
