$notebook: 1350px;
$tablet: 1025px;
$phone: 765px;
$small-phone: 450px;
$smallest-phone: 340px;

.forgot-password {
    background-color: #f4f4f4;
}

.main {
    &-banner {
        background-image: url(../assets/images/main-banner-bg-nohp.jpg);
    }
    &-form {
        &__inner {
            background-color: #f4f4f4;
        }
    }
}
