:root {
    --primary-color: #80C242;
    --secondary-color: #93D554;
    --signing-hub-color: #2CC400;
    --warning-color: #F79618;
    --warning-hover-color: #FFB23B;
    --error-color: #F11313;
    --success-color: #DA1C5C;
    --main-text-color: #5A5A5A;
    --secondary-text-color: #888888;
}